<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All login audit :</h3>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" >
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
            <td mat-cell *matCellDef="let row"> {{row.user}}% </td>
        </ng-container>

        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row._id}} </td>
        </ng-container>


        <ng-container matColumnDef="loginTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Login Time </th>
            <td mat-cell *matCellDef="let row"> {{row.loginTime}} </td>
        </ng-container>

        <ng-container matColumnDef="logoutTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> logoutTime </th>
            <td mat-cell *matCellDef="let row"> {{row.logoutTime}} </td>
        </ng-container>

        <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> IP </th>
            <td mat-cell *matCellDef="let row"> {{row.ip}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
