// global application styles
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

a {
    cursor: pointer;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
  }
  